services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro

  acme-companion:
    image: nginxproxy/acme-companion
    restart: always
    environment:
      - DEFAULT_EMAIL=admin@killianrms.com
      - ACME_CHALLENGE=DNS-01
      - ACMESH_DNS_API_CONFIG={"DNS_API":"dns_cf","CF_Token":"${CF_TOKEN}"}
    volumes_from:
      - nginx-proxy
    volumes:
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - nginx-proxy

  website:
    build: ../lobbybot2.0-website
    restart: always
    environment:
      - PORT=3000
      - VIRTUAL_HOST=dashboard.killianrms.com
      - VIRTUAL_PORT=3000
      - LETSENCRYPT_HOST=dashboard.killianrms.com
      - LETSENCRYPT_EMAIL=admin@killianrms.com
      - LETSENCRYPT_ACMESH_DNS_API=dns_cf
      - EPIC_MASTER_KEY=${EPIC_MASTER_KEY}
    depends_on:
      - nginx-proxy

  manager:
    build: .
    restart: always
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - DASHBOARD_URL=http://website:3000
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_NAME=${DB_NAME}
    volumes:
      - ./accounts.csv:/app/accounts.csv
    depends_on:
      - website

volumes:
  certs:
  vhost:
  html:
  acme:
